<html>
{% extends 'base.html' %}

{% block content %}
  <h1>Movies</h1>

  <div class="movie-list">

    {% for movie in movies %}

    {% if movie.model == "movies.movie" %}

      <div class="movie">
        <!--<h3>{{ movie.fields.title }}</h3>
        <p>{{ movie.fields.overview }}</p>-->
        <img src="{{ movie.fields.poster_path }}" alt="poster"
        style="width:100px; height:100px;">
        <hr>
      </div>

      {% endif %}
    
    {% endfor %}

  </div>
  
{% endblock %}

{% block script %}
<scrip>
  let pageNum = 2
  
  document.addEventListener('scroll', (event) => {
    console.log(event)
    const {scrollHeight, scrollTop, clientHeight} = document.documentElement
    // console.log(scrollHeight, scrollTop, clientHeight)
    if (scrollHeight - Math.round(scrollTop) === clientHeight) {
      axios({
        method: 'get',
        url: `/movies/?page=${pageNum}`,
        headers: {'x-requested-with': 'XMLHttpRequest'}
      })
        .then((res) => {
          const movies = res.data
          
          movies.forEach((movie) => {
            const movieList = document.querySelector('.movie-list')
            const movieDiv = document.createElement('div')

            const movieHTML = `
              <h3>${ movie.fields.title }</h3>
              <p>${ movie.fields.overview }</p>
              <a href="movies/${ movie.pk }/">[detail]</a>
              <img src="${ movie.poster_path }">
              <hr>
            `
            movieDiv.innerHTML = movieHTML
            movieList.appendChild(movieDiv)
          })
          pageNum += 1
        })
    }
  })

</script>
{% endblock %}
</html>