{% extends 'base.html' %}
{% load embed_video_tags %} 
{% block content %}
<div>
  <div>
    <p>{{ movie.title }} 예고편</p> 
    <div>
      {% for item in youtube_items %}
      <iframe 
        width="600" 
        height="380" 
        type="text/html" 
        class="embed-responsive-item" 
        src="https://www.youtube.com/embed/{{ item.id.videoId }}" 
        frameborder="0">
      </iframe>
      {% endfor %}
    </div> 
  </div> 
<div>
  <div class = "cc">
    <form action="{% url 'movies:pay' movie.pk %}" method="post">
      {% csrf_token %}
      <button class="mes-btn mes-btn-gold">카카오페이로 결제하기</button>
    </form>
  <style>
    div{
    }
    .cc { margin: 10px 0px 0px 0px;}
    </style>
  </div> 
</div>

{% endblock %}

