{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="col-8 mx-auto">
    <p style="color:#D1D5DB">[ {{ review.movie_title }} ]  {{ review.rank }}점</p>
    <h2>{{ review.title }}</h2>
      <!-- 프로필 사진  -->
      {% if review.user.image %}
        <img class="small_profile_img" src="{{ review.user.image.url }}" alt="프로필 사진">
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="small_profile_img bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      {% endif %}
      <a class="text-decoration-none txt-white" href="{% url 'accounts:profile' review.user.username %}">{{ review.user.username }}</a>
      <!---->
  
      <p style="color:#D1D5DB" class="text-end">{{ review.updated_at|date:'Y. m. d. H:i' }}</p>

      <hr>

      <p>{{ review.content }}</p>
      <hr>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        {% if user == review.user %}
        <a class="btn mes-btn mes-btn-gold" href="{% url 'community:update' review.pk %}" role="button">수정</a>
        <form action="{% url 'community:review_delete' review.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn mes-btn mes-btn-red">삭제</button>
        </form>
        {% endif %}
      </div>


      {% if comments|length %}
        <p style="margin-top:3%;"><b>{{ comments|length }}</b>개의 댓글</p>
      {% endif %}

      <ul>
        {% for comment in comments %}
          <li>
            <div class="d-flex justify-content-between">
              <span>
              <a href="{% url 'accounts:profile' comment.user.username %}" class="text-decoration-none text-light fw-bold">
                {{ comment.user }}
              </a>
              {{ comment.content }} 
              </span>

              <span>
                <!-- 댓글 시간 -->
                {% if comment.created_string == False %}
                <span style="color:#D1D5DB">{{ comment.created|date:'m월 d일' }}</span>
                {% else %}
                <span style="color:#D1D5DB">{{ comment.created_string }}</span>
                {% endif %}

                <!--삭제-->
                {% if request.user == comment.user %}
                <form style="display:inline;" action="{% url 'community:comment_delete' review.pk comment.pk %}" method="POST">
                  {% csrf_token %}
                  <button class="mes-btn-delete">X</button>
                </form>
                {% endif %}
              </span>
            </div>
          </li>
        {% empty %}
        <p><b>첫 댓글을 남겨주세요:)</b></p>
        {% endfor %}
      </ul>

      {% if request.user.is_authenticated %}
        <form action="{% url 'community:create_comment' review.pk %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form comment_form %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="mes-btn mes-btn-main-color" type="submit">
          </div>
        </form>
      {% else %}
        <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
      {% endif %}
      <hr>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn mes-btn btn-secondary" href="{% url 'community:index' %}">뒤로</a>
      </div>
  </div>

{% endblock  %}
