{% extends 'base.html' %}

{% block content %}
  <h1 style="display: inline-block;" >Community</h1>
  <a href="{% url 'community:create'%}">New Review</a>
  <hr>

  <table class="table">
  <style>    
  table, th, td {    
  text-align: center;  
  }    
  </style> 
  <thead>
    <tr>
      <th>No.</th>
      <th>글 제목</th>
      <th>공감 수</th>
    </tr>
  </thead>
  <tbody>
  {% for review in reviews %}
      <tr>
        <td>{{ review.pk }}</td>
        <td><a href="{% url 'community:detail' review.pk %}">{{ review.title }}</a></th>
        <td>{{review.like_users.count}}</td>
      </tr>
  {% endfor %}
  </tbody> 
</table>
<div class="row mt-2">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if reviews.has_previous %}                         
                    <li class="page-item">
                        <a class="page-link" href="?p={{reviews.previous_page_number }}"><</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"><</a>
                    </li>
                    {% endif %}
                    {% for page_number in reviews.paginator.page_range %}
                    {% if page_number == reviews.number %}
                    <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if reviews.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{reviews.next_page_number }}">></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>


  {% comment %} {% for review in reviews %}
    <div>

      <span id="likeCnt-{{ review.pk }}">
        {{review.like_users.count}}명이 좋답니다!
      </span>

      <form data-review-id="{{ review.pk }}" class="like-form" method="POST">
        {% csrf_token %}
        {% if user in review.like_users.all %}
          <input type="submit" id="likeBtn-{{ review.pk }}" value="좋아요 취소">
        {% else %}
          <input type="submit" id="likeBtn-{{ review.pk }}" value="좋아요">
        {% endif %}
      </form>
      
    </div>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %} {% endcomment %}


{% endblock %}


{% block script %}
<script>
  const likeFormList = document.querySelectorAll('.like-form')
  likeFormList.forEach((likeForm)=> {
    likeForm.addEventListener('submit', (e)=> {
      e.preventDefault()
      const reviewId = e.target.dataset.reviewId
      const requestUrl = `/community/${reviewId}/like/`
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value

      axios.post(requestUrl, {}, {headers: {'X-CSRFToken': csrfToken}})
        .then((res) => {
          const likeCount = res.data.like_count
          const liked = res.data.liked

          const likeBtn = document.querySelector(`#likeBtn-${reviewId}`)
          likeBtn.value = liked ? '좋아요 취소' : '좋아요'

          const likeCnt = document.querySelector(`#likeCnt-${reviewId}`)
          likeCnt.innerText = `${likeCount}명이 좋답니다!`
        })
        .catch((err)=> {
          window.alert(err)
        })
    })
  })
</script>
{% endblock %}

