{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div style="padding: 20px 300px;">
  <h1>수정하기</h1>
  <form action="{% url 'community:update' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <input class="mes-btn mes-btn-gold" type="submit" value="수정">
    </div>
  </form>
  <hr>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn mes-btn btn-secondary"href="{% url 'community:index' %}">뒤로</a>
  </div>
</div>
{% endblock content %}
