{% extends 'base.html' %}
{% load bootstrap5 %}
{% load socialaccount %}

{% block content %}
<div style="padding: 20px 300px;">
  <h1>회원가입</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-grid gap-2">
      <button class="mes-btn mes-btn-main-color text-decoration-none">
        회원가입
      </button>
    </div>
  </form>
  <br>
  <p class="text-center">또는</p>
  <div class="d-grid gap-2 text-center">
  
    <a class="mes-social mes-google text-decoration-none my-1" href="{% provider_login_url "google" next="/movies/" %}">
        Google로 계속하기
    </a>
    <a class="mes-social mes-naver text-decoration-none my-1" href="{% provider_login_url "naver" next="/movies/" %}">NAVER로 계속하기</a>
    <a class="mes-social mes-btn-gold text-decoration-none my-1" href="{% provider_login_url "kakao" next="/movies/" %}">Kakao로 계속하기</a>
  </div>

</div>
{% endblock  %}
