{% extends 'base.html' %}
{% load bootstrap5 %}
{% load socialaccount %}

{% block content %}
<div style="padding: 20px 300px;">
  <h1>회원가입</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="d-grid gap-2">
      <button class="mes-btn mes-btn-indigo text-decoration-none">
        회원가입
      </button>
    </div>
  </form>
  <a href="{% provider_login_url "google" next="/movies/" %}">Google 계정으로 계속하기</a>
  <a href="{% provider_login_url "naver" next="/movies/" %}">NAVER 계정으로 계속하기</a>
  <a href="{% provider_login_url "kakao" next="/movies/" %}">Kakao 계정으로 계속하기</a>

</div>
{% endblock  %}
