<style>
*{
    color: #ffffff;
}

.txt-white{
    color: #ffffff;
}

.txt-black{
    color: #0F172A;
}

.write input{
    color: #000000;
}

.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.big_profile_img {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
}

.small_profile_img {
    width: 28px;
    height: 28px;
    border-radius: 70%;
    overflow: hidden;
    margin: 15px 5px; 
}

.user_name_txt{
    font-size: 30px;
    padding: 0px 5px;
    font-weight: bold;
}

.text-decoration-none{
    font-weight: bold;
}

.mes-btn{
    outline: none !important;
    border-radius: 1.725rem;
    padding: 6px 20px;
    border: none;
}

.mes-btn-primary{
    background: #E0E7FF; 
    color: #6366F1;
}

.mes-btn-wb{
    background: #ffffff;
    color: #000000;
}

.mes-btn-indigo{
    background: #4338CA;
    color: #ffffff;
}

</style>