<style>
*{
    color: #ffffff;
}

.txt-white{
    color: #ffffff;
}

.txt-black{
    color: #0F172A;
}

.write input{
    color: #000000;
}

.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.big_profile_img {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
}

.small_profile_img {
    width: 28px;
    height: 28px;
    border-radius: 70%;
    overflow: hidden;
    margin: 15px 5px; 
}

.user_name_txt{
    font-size: 30px;
    padding: 0px 5px;
    font-weight: bold;
}

.text-decoration-none{
    font-weight: bold;
}

.active, .nav-list:hover {
    color: #FCD34D;
}

.mes-btn{
    outline: none !important;
    border-radius: 1.725rem;
    padding: 6px 20px;
    border: none;
    font-weight: bold;
}

.mes-btn-main-color{
    background: #60A5FA; 
    color: #0F172A;
}

.mes-btn-wb{
    background: #ffffff;
    color: #000000;
}

.mes-btn-indigo{
    background: #4338CA;
    color: #ffffff;
}

.mes-btn-red{
    background: #EF4444; 
    color: #ffffff;
}

.mes-btn-gold{
    background: #FBBF24; 
    color: #0F172A;
}

.mes-btn-delete{
    border-radius: 1.725rem;
    border: 1px solid #6c757d; 
    background-color:rgba(0,0,0,0);
    color: #6c757d; 
    font-weight: bold;
    margin: 0px 5px;
}

.mes-btn-delete:hover{
    color: #0F172A;
    background-color:#6c757d; 
}

.mes-pag{
    background-color:#6c757d; 
}

.detail{
    border:1px solid #D1D5DB;
    padding: 20px 0px;
    border-radius: 0.4em;
}

.mes-social{
    outline: none !important;
    border-radius: 1.725rem;
    padding: 6px 45px;
    border: none;
    font-weight: bold;
}

.mes-naver{
    background: #03C75A;
    color: #0F172A;
}

.mes-google{
    background: #EA4335;
    color: #0F172A;
}

.txt-gold{
    color: #FBBF24;
}
</style>