<style>
*{
  color: #ffffff;
} 

.txt_black{
    color: #0F172A;
}

.write input{
    color: #000000;
}

.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.big_profile_img {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
}

.user_name_txt{
    font-size: 30px;
    padding: 0px 5px;
    font-weight: bold;
}

.text-decoration-none{
    color: #ffffff;
    font-weight: bold;
}

.mes-btn{
    outline: none !important;
    border-radius: 12px;
    padding: 12px 24px;

}

.mes-btn-primary{
    background: #DBEAFE; 
    color: #3B82F6;
}
</style>